@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');







.HeroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family:'Sofia Sans Condensed', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color:#313131
}


.full-graphic {
    display: flex;
    flex-direction: column;
    width: min-content;

}

.hero-top-element {
    text-align: right;
    padding-bottom: 10px;
    font-size: 2.3rem;
    padding-right:20px ;
    font-weight: 900;
}

.hero-bottom-element {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.hero-bottom-left {
    letter-spacing: 1px;
    text-align: left;
    font-size: 1.2rem;
    width: 381px;
    font-weight: 900;
    text-transform: titlecase;
}


.hero-bottom-right {
    font-size: 2.3rem;
    padding-right:20px ;
}


@media screen and (max-width: 768px) {
    .full-graphic{
        transform: scale(0.25);
    }
    
}